#fornecedorMain{
    display:grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: auto auto auto;
    gap: 2% 5%;
    grid-auto-flow: row;
    grid-template-areas:
      "Titulo Titulo"
      "pesquisarLote boxInfo";
    

    #tituloDaPagina {
        grid-area: Titulo; 
        font-size: 8vh;
    }
    #pesquisarLote { grid-area: pesquisarLote; }
    #boxInfo { grid-area: boxInfo; }
}

main {
  margin-right: 10vw;
  margin-left: 10vw;
}

#pesquisarLote {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 2% 5%;
    grid-auto-flow: row;
    padding: 1vw;
    grid-template-areas:
      "pesquisarLote"
      "resultLote";  
    
    #pesquisarLote { grid-area: pesquisarLote; }
    #resultLote { grid-area: resultLote; }
    overflow: auto; 
}

#busca{
    height: 2em;
    border-radius: 12px / 15px;
    background-color: #e7e3e3;
    border: none;
    color: rgba(0, 0, 0, 0.4);
    padding: 0.8vw;
}
.slotClick {
    border: ridge gray 2px;
    border-radius: 1vw;
    padding: 1vh;
    margin: 1vh;
    display:flex;
}
.slotClick:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px;
    transition: 200ms;
}
.slotClick:active{
    border: ridge gainsboro 2px;
    box-shadow: 3px 3px;
}

.slotClick h2 {
    font-size: 3vh;
    margin-left: 1vw;
}

.slot{
    background-color: whitesmoke;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 60vh;
    box-shadow: 5px 4px 14px 0px rgb(53, 53, 53);
}
#boxInfo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 2% 5%;
    grid-auto-flow: row;
    padding: 1vw;
    align-items: center;
    justify-items: center;
}
#boxInfo img {
    border: solid black 0.2vw;
    border-radius: 5%;
}

#bloquearConteudo {        
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.cancelar:hover, #addLote:hover, #removerLote:hover, #atualizarLote:hover, #enviarLote:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
}
#removerLote, #atualizarLote{
    display:none;
}
.cancelar, #addLote, #removerLote, #atualizarLote, #enviarLote{
    color: var(--cor-principal);
    width: 12em;
    height: 3em;
    padding: 0em 1em 0em 1em;
    background-color: #ff0000;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gray;
    align-self: center;
    justify-self: center;
}

#formLote, #formAtualizarLote{
    display: none;
    position: fixed;
    left: 28%;
    top: 17%;
    background-color: var(--cor-principal);
    padding: 1vw 1vw;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    width: 42vw;
    height: 66vh;
    z-index: 3;
}

.formh1 {
    grid-area: header;
    text-align: center;
}

#formAtualizarLote form{
    display: grid;
    grid-template-areas: 
        "formh1 formh1 formh1 formh1"
        "tipoProdutoLabel tipoProduto tipoProduto tipoProduto"
        "quantidadeLabel quantidade  fornecedorLabel fornecedor"
        "precoCompraLabel precoCompra precoVendaLabel precoVenda"
        "imagem imagem imagem imagem"
        "enviarLote enviarLote enviarLote enviarLote";
    grid-gap: 1vw;
}
.formh1 { grid-area: formh1; }

#Novo-tipoProdutoLabel { grid-area: tipoProdutoLabel; }
#Novo-tipoProduto { grid-area: tipoProduto; }

#Novo-quantidadeLabel { grid-area: quantidadeLabel; }
#Novo-quantidade { grid-area: quantidade; }

#Novo-precoCompraLabel { grid-area: precoCompraLabel; }
#Novo-precoCompra { grid-area: precoCompra; }
#Novo-precoVendaLabel { grid-area: precoVendaLabel; }
#Novo-precoVenda { grid-area: precoVenda; }

#Novo-fornecedorLabel { grid-area: fornecedorLabel; }
#Novo-fornecedor { grid-area: fornecedor; }

#Novo-imagem { grid-area: imagem; }

#Novo-enviarLote { grid-area: enviarLote; }

#formLote form{
    display: grid;
    grid-template-areas: 
        "formh1 formh1 formh1 formh1"
        "tipoProdutoLabel tipoProduto tipoProduto tipoProduto"
        "quantidadeLabel quantidade  fornecedorLabel fornecedor"
        "precoCompraLabel precoCompra precoVendaLabel precoVenda"
        "imagem imagem imagem imagem"
        "enviarLote enviarLote enviarLote enviarLote";
    grid-gap: 1vw;
}

.formh1 { grid-area: formh1; }

#tipoProdutoLabel { grid-area: tipoProdutoLabel; }
#tipoProduto { grid-area: tipoProduto; }

#quantidadeLabel { grid-area: quantidadeLabel; }
#quantidade { grid-area: quantidade; }

#precoCompraLabel { grid-area: precoCompraLabel; }
#precoCompra { grid-area: precoCompra; }
#precoVendaLabel { grid-area: precoVendaLabel; }
#precoVenda { grid-area: precoVenda; }

#fornecedorLabel { grid-area: fornecedorLabel; }
#fornecedor { grid-area: fornecedor; }

#imagem { grid-area: imagem; }

#enviarLote { grid-area: enviarLote; }