@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


:root {
    --cor-principal: #E9E9E9;
    --cor-secundaria: #CB0000;
    --cor-terciaria: #C1C1C1;
    --texto-cor-principal: #7D7D7D;
    --texto-cor-secundaria: #6f0000;
    --cor-ativo: #b80909;
    --cor-confimado: #28A745;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--texto-cor-principal);
    background-color: #ccc; 
    overflow: auto;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: large;
    color: var(--texto-cor-secundaria);
    background-color: var(--cor-secundaria);
}

nav a:link,
    a:hover,
    a:visited,
    a {
    text-decoration: none;
    color: var(--texto-cor-secundaria);
}
::-webkit-scrollbar {
    width: 10px; 
}


::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 1vw; 
}